/* bookCard.css */
.book-card-single {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.book-card-single button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.book-image {
    width: 100%; /* Занимает всю ширину карточки */
    height: 350px; /* Фиксированная высота */
    object-fit: contain; /* Сохраняет пропорции изображения, не обрезая его */
    display: block; /* Убирает пробелы под изображением */

}
.book-title {
    font-size: 1.5em;
    margin: 10px 0;
}
.book-author {
    font-size: 1.2em;
    color: #666;
}
.book-description {
    font-size: 1em;
    color: #333;
}
.book-price {
    font-size: 1.2em;
    color: #007bff;
}

/* reviews.css */
.review-input-container {
    margin-top: 20px; /* Отступ сверху */
    padding: 15px; /* Внутренние отступы */
    background-color: #f1f1f1; /* Светлый фон для области ввода */
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
}
.review-input {
    width: 50%; /* Полная ширина */
    height: 100px;
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Серый бордер */
    border-radius: 5px; /* Скругление углов */
    font-size: 1em; /* Размер шрифта */
    margin-bottom: 10px; /* Отступ снизу */
}
.review-submit {
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убирает бордер */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 15px; /* Внутренние отступы */
    cursor: pointer; /* Курсор при наведении */
    font-size: 1em; /* Размер шрифта */
}
.review-submit:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}
