.header {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header h1 {
    margin: 0;
} */

.header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.header nav ul li {
    margin-left: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.header nav ul li button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header nav ul li button:hover {
    background-color: #0056b3;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.no-underline {
    margin: 0;
    text-decoration: none;
    color: #007bff;
}
