/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.summary {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    color: #007bff;
}

.summary button {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    color: white;
}
.summary button:hover {
    background-color: #0056b3;
}

.header {
    text-align: center;
    padding: 20px 0;
}
.header input[type="text"] {
    width: 70%; /* Занимает всю ширину контейнера */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 0px; /* Отступ снизу */
    border: 1px solid #ccc; /* Цвет и стиль рамки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    transition: border-color 0.3s; /* Плавный переход при наведении */
}

.header input[type="text"]:focus {
    border-color: #007bff; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур */
}

.header button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.header button:hover {
    background-color: #0056b3;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.book-card {
    height: 800px; /* Фиксированная высота карточки */
    text-decoration: none;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.book-description {
    flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
    overflow: hidden; /* Скрывает переполнение */
    text-overflow: ellipsis; /* Добавляет троеточие */
    display: -webkit-box; /* Для поддержки обрезки текста в WebKit браузерах */
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; /* Количество строк для отображения */
    line-clamp: 3; /* Количество строк для отображения (для других браузеров) */
}
.book-card:hover {
    transform: scale(1.05);
}
.book-card h3 {
    text-decoration: none;
    margin: 0 0 10px;
}
.book-card p {
    margin: 5px 0;
}
.book-card button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.book-card button:hover {
    background-color: #0056b3;
}

/*  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 столбца */
    grid-template-rows: repeat(3, auto); /* 3 строки */
    gap: 16px; /* Расстояние между элементами */
    margin-bottom: 20px; /* Отступ снизу для пагинации */
}
.grid-item {
    border: 1px solid #ccc; /* Граница для элементов */
    border-radius: 8px; /* Закругление углов */
    padding: 16px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    background-color: #f9f9f9; /* Фоновый цвет */
    text-decoration: none;
}

.book-image {
    width: 100%; /* Занимает всю ширину карточки */
    height: 150px; /* Фиксированная высота */
    object-fit: contain; /* Сохраняет пропорции изображения, не обрезая его */
    display: block; /* Убирает пробелы под изображением */

}

.pagination {
    display: flex;
    justify-content: center; /* Центрирование кнопок пагинации */
    margin-top: 20px; /* Отступ сверху для кнопок пагинации */
}
.pagination button {
    margin: 0 10px; /* Отступы между кнопками */
    padding: 10px 20px; /* Внутренние отступы кнопок */
    border: none; /* Убираем стандартную границу */
    border-radius: 5px; /* Закругление углов кнопок */
    background-color: #007bff; /* Цвет фона кнопок */
    color: white; /* Цвет текста кнопок */
    cursor: pointer; /* Курсор при наведении */
}
.pagination button:disabled {
    background-color: #ccc; /* Цвет фона для отключенных кнопок */
    cursor: not-allowed; /* Курсор для отключенных кнопок */
}

.no-underline {
    margin: 0;
    text-decoration: none;
    color: #007bff;
}