/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    padding: 20px 0;
}
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.book-card {
    text-decoration: none;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.book-card:hover {
    transform: scale(1.05);
}
.book-card h3 {
    text-decoration: none;
    margin: 0 0 10px;
}
.book-card p {
    margin: 5px 0;
}
.book-card button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.book-card button:hover {
    background-color: #0056b3;
}

/*  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 столбца */
    grid-template-rows: repeat(3, auto); /* 3 строки */
    gap: 16px; /* Расстояние между элементами */
    margin-bottom: 20px; /* Отступ снизу для пагинации */
}
.grid-item {
    border: 1px solid #ccc; /* Граница для элементов */
    border-radius: 8px; /* Закругление углов */
    padding: 16px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    background-color: #f9f9f9; /* Фоновый цвет */
    text-decoration: none;
}
.pagination {
    display: flex;
    justify-content: center; /* Центрирование кнопок пагинации */
    margin-top: 20px; /* Отступ сверху для кнопок пагинации */
}
.pagination button {
    margin: 0 10px; /* Отступы между кнопками */
    padding: 10px 20px; /* Внутренние отступы кнопок */
    border: none; /* Убираем стандартную границу */
    border-radius: 5px; /* Закругление углов кнопок */
    background-color: #007bff; /* Цвет фона кнопок */
    color: white; /* Цвет текста кнопок */
    cursor: pointer; /* Курсор при наведении */
}
.pagination button:disabled {
    background-color: #ccc; /* Цвет фона для отключенных кнопок */
    cursor: not-allowed; /* Курсор для отключенных кнопок */
}

.no-underline {
    margin: 0;
    text-decoration: none;
    color: #007bff;
}